.app-bar {
  width: 100%;
  height: 3em;
  /* outline: 1px solid black; */
  /* background-color: #212F3D; */
  position: fixed;
  z-index: 1000;
  background-color: #EEEEEE;
  border-bottom: 1px solid #767676;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;

  & .app-bar-title {
    margin-top: 0;
    padding-top: 10px;
  }

  & .app-bar-buttons {
    padding: 10px 20px;
  }
}
